{% extends "/home/base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<title>Home</title>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<style></style>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{% endblock %} {% block body %}
<div class="banner_and_text">
  <div class="row">
    <div
      class="col-sm-8"
      style="padding: 25px !important; height: 80% !important"
    >
      <img
        src="/static/banner.jpeg"
        alt="/static/banner.jpeg"
        width="90%"
        height="80%"
      />
    </div>
    <div
      class="col-sm-4"
      style="padding: 25px !important; height: 80% !important"
    >
      <div
        class="container"
        style="
          border-color: black !important;
          border-style: solid !important;
          height: 80% !important;
          padding: 25px !important;
        "
      >
        <div style="padding: 25px !important">
          <div class="row">
            <div
              class="col"
              style="
                border-color: black !important;
                border-style: solid !important;
                border-radius: 12px !important;
              "
            >
              <center>
                <iframe
                  width="420"
                  height="315"
                  src="https://www.youtube.com/watch?v=HWtBE0vs634"
                >
                </iframe>
              </center>
            </div>
          </div>
        </div>
        <div style="padding: 25px !important">
          <div class="row">
            <div
              class="col"
              style="
                border-color: black !important;
                border-style: solid !important;
                border-radius: 12px !important;
              "
            >
              <center>
                <iframe
                  width="420"
                  height="315"
                  src="https://www.youtube.com/watch?v=HWtBE0vs634"
                >
                </iframe>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="other_comments_and_other_info" style="padding: 50px !important">
  <div class="row gx-5" style="padding: 25px !important">
    <div class="col">
      <div
        class="p-3 border bg-light"
        style="
          border-color: black !important;
          border-style: solid !important;
          border-radius: 12px !important;
        "
      >
        <center>
          <iframe src="https://www.youtube.com/watch?v=HWtBE0vs634"> </iframe>
        </center>
      </div>
    </div>
    <div class="col">
      <div
        class="p-3 border bg-light"
        style="
          border-color: black !important;
          border-style: solid !important;
          border-radius: 12px !important;
        "
      >
        <center>
          <iframe src="https://www.youtube.com/watch?v=HWtBE0vs634"> </iframe>
        </center>
      </div>
    </div>
    <div class="col">
      <div
        class="p-3 border bg-light"
        style="
          border-color: black !important;
          border-style: solid !important;
          border-radius: 12px !important;
        "
      >
        <center>
          <iframe src="https://www.youtube.com/watch?v=HWtBE0vs634"> </iframe>
        </center>
      </div>
    </div>
    <div class="col">
      <div
        class="p-3 border bg-light"
        style="
          border-color: black !important;
          border-style: solid !important;
          border-radius: 12px !important;
        "
      >
        <center>
          <iframe src="https://www.youtube.com/watch?v=HWtBE0vs634"> </iframe>
        </center>
      </div>
    </div>
  </div>
</div>

<div class="comments" id="comments" style="padding: 50px !important">
  <div class="row gx-5" style="padding: 25px !important">
    <div class="col">
      <div
        class="p-3 border bg-light"
        style="
          border-color: black !important;
          border-style: solid !important;
          border-radius: 12px !important;
        "
      >
        <center>a</center>
      </div>
    </div>
    <div class="col">
      <div
        class="p-3 border bg-light"
        style="
          border-color: black !important;
          border-style: solid !important;
          border-radius: 12px !important;
        "
      >
        <center>a</center>
      </div>
    </div>
    <div class="col">
      <div
        class="p-3 border bg-light"
        style="
          border-color: black !important;
          border-style: solid !important;
          border-radius: 12px !important;
        "
      >
        <center>a</center>
      </div>
    </div>
  </div>
  <div class="row gx-5" style="padding: 25px !important">
    <div class="col">
      <div
        class="p-3 border bg-light"
        style="
          border-color: black !important;
          border-style: solid !important;
          border-radius: 12px !important;
        "
      >
        <center>a</center>
      </div>
    </div>
    <div class="col">
      <div
        class="p-3 border bg-light"
        style="
          border-color: black !important;
          border-style: solid !important;
          border-radius: 12px !important;
        "
      >
        <center>a</center>
      </div>
    </div>
    <div class="col">
      <div
        class="p-3 border bg-light"
        style="
          border-color: black !important;
          border-style: solid !important;
          border-radius: 12px !important;
        "
      >
        <center>a</center>
      </div>
    </div>
  </div>
  <div class="row gx-5" style="padding: 25px !important">
    <div class="col">
      <div
        class="p-3 border bg-light"
        style="
          border-color: black !important;
          border-style: solid !important;
          border-radius: 12px !important;
        "
      >
        <center>a</center>
      </div>
    </div>
    <div class="col">
      <div
        class="p-3 border bg-light"
        style="
          border-color: black !important;
          border-style: solid !important;
          border-radius: 12px !important;
        "
      >
        <center>a</center>
      </div>
    </div>
    <div class="col">
      <div
        class="p-3 border bg-light"
        style="
          border-color: black !important;
          border-style: solid !important;
          border-radius: 12px !important;
        "
      >
        <center>a</center>
      </div>
    </div>
  </div>
</div>

{% endblock %}
