{% extends "/home/base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<title>Home</title>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<style></style>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{% endblock %} {% block body %}
<div class="banner_and_text">
  <div class="row">
    <div
      class="col-sm-8"
      style="padding: 25px !important; height: 80% !important"
    >
      <img
        src="/static/banner.jpeg"
        alt="/static/banner.jpeg"
        width="100%"
        height="100%"
      />
    </div>
    <div
      class="col-sm-4"
      style="padding: 25px !important; height: 80% !important"
    >
      <div class="container">
        <div>
          <!-- <div class="row">
            <div
              class="col"
              style="
                border-color: black !important;
                border-style: solid !important;
                border-radius: 12px !important;
              "
            >
              <center>
                <iframe
                  width="420"
                  height="315"
                  src="https://www.youtube.com/watch?v=HWtBE0vs634"
                >
                </iframe>
              </center>
            </div>
          </div>
        </div>
        <div style="padding: 25px !important">
          <div class="row">
            <div
              class="col"
              style="
                border-color: black !important;
                border-style: solid !important;
                border-radius: 12px !important;
              "
            >
              <center>
                <iframe
                  width="420"
                  height="315"
                  src="https://www.youtube.com/watch?v=HWtBE0vs634"
                >
                </iframe>
              </center>
            </div>
          </div>
        </div> -->
          <div style="font-size: 32px !important; font-weight: bold !important">
            විද්‍යාව කියන්නෙ අමාරු විෂයයක් නෙමෙයි, නිවැරදිව තේරුම් ගත යුතු
            විෂයයක්. නිවැරදිව තේරුම් ගන්න නම් ඒ විෂයය කරුණු නිරවුල්ව දරුවන්ට
            පැහැදිලි කරල දෙන්න ඕන. නිවැරදිව පහදල දෙන්න පුළුවන් වෙන්නෙ ඒ විෂයය
            කරුණු නිවැරදිව අධ්‍යයනය කරල අවබෝධකරගත්, විෂයය නිර්දේශයක් ආවරණය
            කරන්නෙ කොහොමද කියන පුහුණුව ලබපු ගුරුවරුන්ට....
          </div>
          <br />
          <br />
          පසුගිය වසර 17 කට අධික කාලයක් අපේ දරු පරපුරට විද්‍යාව විෂයය ඉගැන්වීමේ
          වාසනාව මට ලැබුණා. ඒ වගේම සාමාන්‍ය පෙළ විභාගයේ පිළිතුරු පත්‍ර පරීක්‍ෂා
          කරන්නත් වාර විභාග ප්‍රශ්න පත්‍ර සකස් කිරීමට මෙන්ම අධ්‍යාපන අමාත්‍යංශය,
          කලාප අධ්‍යාපන කාර්යාලය මෙහෙයවපු විද්‍යාව වැඩමුළු, සම්මන්ත්‍රණ සඳහා
          සහභාගී වීමේ අවස්ථාවත් මට ලැබුණා. මේ සියලූම දෙයින් ලබා ගත් නව දැණුම,
          විභාග ප්‍රශ්න පත්‍ර රටාවන්, ඉගැන්වීමේ ක්‍රම ඉතා නිවැරදිව කළමණාකරනය
          කරලා දරු පරපුරට විද්‍යාව විෂයයට අදාල නියම මාත්‍රාව ලබා දෙන්න මට
          පුළුවන් උනා. ඒ නිසාම තමයි විද්‍යාව විෂයය ඉගෙනගත් සෑම දරුවෙක්ම විශිෂ්ට
          සමාර්ථ්‍යයන් විතරක්ම අටගෙන විභාගය සමත් වුනේ.
          <br />
          <br />
          රටේ සිසු පරපුර තමන්ගෙ විෂයය කරුණු වර්ධනය කරගෙන විභාග සඳහා විශිෂ්ට
          සමාර්ථ ලබා ගැනීමට අවශ්‍ය නම් වඩාත් ගුණාත්මක සහ විධිමත් අධ්‍යාපන රටාවක්
          තෝරා ගත යුතු වෙනවා. එමගින් පමණයි විශිෂ්ට ප්‍රතිඵලයකට අවශ්‍ය නිවැරදි
          විෂයය කරුණු දරුවන්ට ලබා ගන්න පුළුවන් වෙන්නෙ.
          <br />
          <br />
          විද්‍යාව විෂයයට විශිෂ්ට සමාර්ථ්‍යයක් ලබා ගැනීමට අවශ්‍ය මග පෙන්වීම
          පියවරෙන් පියවර මගේ වීඩියෝ මගින් ඔබට අධ්‍යයනය කළ හැක. රටේ සිසු පරපුර
          වෙනුවෙන් ඔවුන්ගේ විශිෂ්ටත්වය වෙනුවෙන් ලබා දිය හැකි උපරීම කැපවීම
          ඉදිරියට තවත් උපරීමයෙන් ලබා දීමට අවශ්‍ය මෙහෙවර සඳහා කැපවෙමි.
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="other_comments_and_other_info" style="padding: 50px !important">
    <div class="row gx-5" style="padding: 25px !important">
      
      <div class="col">
        <div
          class="p-3 border bg-light"
          style="
            border-color: black !important;
            border-style: solid !important;
            border-radius: 12px !important;
          "
        >
          <center>
            "සාපෙළ පිළිතුරු පත්‍ර පරීක්‍ෂක, වසර 15කට අධික ජාතික පාසල් පුහුණු ආචාර්යවරියකගේ විධිමත් මග පෙන්වීම. වඩාත් ගුණාත්මක සහ විෂයය නිර්දේශයට අනුකුල පාඩම් වැඩසටහන් මාර්ගයෙන් විශිෂ්ට ප්‍රතිඵල ලබා ගැනීමට අවශ්‍ය දුවා දරුවන්ගේ ප්‍රයෝජනය සඳහාය.
            6 සිට 11 දක්වා - විද්‍යාව "
            <br>
            - YouTube
          </center>
        </div>
      </div>
      <div class="col">
        <div
          class="p-3 border bg-light"
          style="
            border-color: black !important;
            border-style: solid !important;
            border-radius: 12px !important;
          "
        >
          <center>
            "I am not a teacher, but an awakener"
            <br>
            - Twitter
          </center>
        </div>
      </div>
      <div class="col">
        <div
          class="p-3 border bg-light"
          style="
            border-color: black !important;
            border-style: solid !important;
            border-radius: 12px !important;
          "
        >
          <center>
            "I am not a teacher, but an awakener"
            <br>
            - Twitter
          </center>
        </div>
      </div>
      <div class="col">
        <div
          class="p-3 border bg-light"
          style="
            border-color: black !important;
            border-style: solid !important;
            border-radius: 12px !important;
          "
        >
          <center>
            "සාපෙළ පිළිතුරු පත්‍ර පරීක්‍ෂක, වසර 15කට අධික ජාතික පාසල් පුහුණු ආචාර්යවරියකගේ විධිමත් මග පෙන්වීම. වඩාත් ගුණාත්මක සහ විෂයය නිර්දේශයට අනුකුල පාඩම් වැඩසටහන් මාර්ගයෙන් විශිෂ්ට ප්‍රතිඵල ලබා ගැනීමට අවශ්‍ය දුවා දරුවන්ගේ ප්‍රයෝජනය සඳහාය.
            6 සිට 11 දක්වා - විද්‍යාව "
            <br>
            - YouTube
          </center>
        </div>
      </div>
    </div>
  </div>
  <div class="comments" id="comments" style="padding: 50px !important">
  <center><u><h1 style="font-size: 50px !important; font-weight: bold">Comments</h1></center></u>

    <div class="row gx-5" style="padding: 25px !important">
      <div class="col">
        <div
          class="p-3 border bg-light"
          style="
            border-color: black !important;
            border-style: solid !important;
            border-radius: 12px !important;
          "
        >
          <center><img src="/static/imgs_of_comments/C1.jpg" alt="" width="500" height="500"></center>
        </div>
      </div>
      <div class="col">
        <div
          class="p-3 border bg-light"
          style="
            border-color: black !important;
            border-style: solid !important;
            border-radius: 12px !important;
          "
        >
          <center><img src="/static/imgs_of_comments/C2.jpg" alt="" width="500" height="500"></center>
        </div>
      </div>
      <div class="col">
        <div
          class="p-3 border bg-light"
          style="
            border-color: black !important;
            border-style: solid !important;
            border-radius: 12px !important;
          "
        >
          <center><img src="/static/imgs_of_comments/C3.jpg" alt="" width="500" height="500"></center>
        </div>
      </div>
    </div>
    <div class="row gx-5" style="padding: 25px !important">
      <div class="col">
        <div
          class="p-3 border bg-light"
          style="
            border-color: black !important;
            border-style: solid !important;
            border-radius: 12px !important;
          "
        >
          <center><img src="/static/imgs_of_comments/C4.jpg" alt="" width="500" height="500"></center>
        </div>
      </div>
      <div class="col">
        <div
          class="p-3 border bg-light"
          style="
            border-color: black !important;
            border-style: solid !important;
            border-radius: 12px !important;
          "
        >
          <center><img src="/static/imgs_of_comments/C5.jpg" alt="" width="500" height="500"></center>
        </div>
      </div>
      <div class="col">
        <div
          class="p-3 border bg-light"
          style="
            border-color: black !important;
            border-style: solid !important;
            border-radius: 12px !important;
          "
        >
          <center><img src="/static/imgs_of_comments/C6.jpg" alt="" width="500" height="500"></center>
        </div>
      </div>
    </div>
    <div class="row gx-5" style="padding: 25px !important">
      <div class="col">
        <div
          class="p-3 border bg-light"
          style="
            border-color: black !important;
            border-style: solid !important;
            border-radius: 12px !important;
          "
        >
          <center><img src="/static/imgs_of_comments/C7.jpg" alt="" width="500" height="500"></center>
        </div>
      </div>
      <div class="col">
        <div
          class="p-3 border bg-light"
          style="
            border-color: black !important;
            border-style: solid !important;
            border-radius: 12px !important;
          "
        >
          <center><img src="/static/imgs_of_comments/C8.jpg" alt="" width="500" height="500"></center>
        </div>
      </div>
      <div class="col">
        <div
          class="p-3 border bg-light"
          style="
            border-color: black !important;
            border-style: solid !important;
            border-radius: 12px !important;
          "
        >
          <center><img src="/static/imgs_of_comments/C9.jpg" alt="" width="500" height="500"></center>
        </div>
      </div>
    </div>
  </div><div class="science a+" id='science a+'>
  <center><u><h1 style="font-size: 50px !important; font-weight: bold">Science A+</h1></center></u>
  <center>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          සාපෙළ පිළිතුරු පත්‍ර පරීක්‍ෂක, වසර 15 කට අධික ජාතික පාසල් පුහුණු
          ආචාර්යවරියකගේ විධිමත් මග පෙන්වීම. වඩාත් ගුණාත්මක සහ විෂයය නිර්දේශයට
          අනුකුල පාඩම් වැඩසටහන් මාර්ගයෙන් විශිෂ්ට ප්‍රතිඵල ලබා ගැනීමට අවශ්‍ය දුවා
          දරුවන්ගේ ප්‍රයෝජනය සඳහාය. 6 සිට 11 දක්වා - විද්‍යාව
        </div>
        <div class="col-sm-4">
          <img
            src="/static/banner.jpeg"
            alt="/static/banner.jpeg"
            width="100%"
            height="100%"
          />
        </div>
      </div>
    </div>
  </center></div>  <div class="lessons" id="lessons">
  <center><u><h1 style="font-size: 50px !important; font-weight: bold"> Lessons </h1></center></u>

    <center>
      <div class="row">
        <div class="col">
          <iframe width="420" height="315"
src="https://www.youtube.com/embed/HWtBE0vs634">

</iframe>
        </div>
        <div class="col">
          <iframe width="420" height="315"
src="https://www.youtube.com/embed/41CVVl_JuhM">

</iframe>
        </div>
        <div class="col" >
          <iframe width="420" height="315"
src="https://www.youtube.com/embed/YwCo5zYw_kE">

</iframe>
        </div>
        <div class="col" >
          <iframe width="420" height="315"
src="https://www.youtube.com/embed/_ylyoxpFx3A">

</iframe>
        </div>
        <div class="col">
          <iframe width="420" height="315"
src="https://www.youtube.com/embed/hQmrSj42jvc">

</iframe>
        </div>
        
      </div>
     </center>
  </div>
  {% endblock %}
</div>
