{% extends "/home/base.html" %} {% block head %}
<title>Science A+</title>
{% endblock %} {% block body %}
<center>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        සාපෙළ පිළිතුරු පත්‍ර පරීක්‍ෂක, වසර 15 කට අධික ජාතික පාසල් පුහුණු
        ආචාර්යවරියකගේ විධිමත් මග පෙන්වීම. වඩාත් ගුණාත්මක සහ විෂයය නිර්දේශයට
        අනුකුල පාඩම් වැඩසටහන් මාර්ගයෙන් විශිෂ්ට ප්‍රතිඵල ලබා ගැනීමට අවශ්‍ය දුවා
        දරුවන්ගේ ප්‍රයෝජනය සඳහාය. 6 සිට 11 දක්වා - විද්‍යාව
      </div>
      <div class="col-sm-4">
        <img
          src="/static/banner.jpeg"
          alt="/static/banner.jpeg"
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>
</center>
{% endblock %}
